/bitrix/*
/upload/
/about/
/auth/
/desktop_app/
/images/
/include/
/login/
/news/
/personal/
/pub/
/search/
/store/
/upload/*
.idea/
.access.php
.bottom.menu.php
.htaccess
.left.menu.php
.left.menu_ext.php
.personal.menu.php
.section.php
.top.menu.php
404.php
500.html
favicon.ico
index.php
sect_bottom.php
sect_sidebar.php
storage.php
urlrewrite.php